.PBPrivate{
    margin: 20px 0;
    margin-left: -35px;
    width: 100%;
    border: none;
}

.PBPrivate-header{
    width: 20px;
    overflow: hidden;
    background: #c6c6c6;
    vertical-align: top;
    padding: 0;
    border: none;
    padding-top: 4px;
}

.PBPrivate-header h2{
    margin-top:0;
}

.PBPrivate-header img{
    background: none;
    border: none;
    width: 100%;
}

.hidden{
    display: none;
}

.PBPrivate-content{
    padding-left: 35px;
    vertical-align: top;
    border: none;
}