.PBPrivate{
    margin: 20px 0;
    margin-left: -35px;
    width: 100%;
    border: none;
}

.PBPrivate-header{
    width: 20px;
    overflow: hidden;
    background: #c6c6c6;
    vertical-align: top;
    padding: 0;
    border: none;
    background-image: url("PBPrivate__PLUGIN_URLexport/img/lock.svg");
    background-repeat: no-repeat;
    background-position: center 5px;
}

.hidden{
    display: none;
}

.PBPrivate-content{
    padding-left: 35px;
    vertical-align: top;
    border: none;
}