.PBPrivate{
    border-left: solid 1px #c6c6c6;
    padding-left: 10px;
    position: relative;
    margin: 20px 0;
}
.PBPrivate::before{
    content: '\f160';
    position: absolute;
    left: -30px;
    color: #8e8e8e;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}